@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both ;
    }
}

@mixin font($type:'fira_sans-regular') {
    font-family: $type, Arial, Helvetica, Verdana, sans-serif;
}