$footer-height:50px;
$container-width:1200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background:#fff;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        content: "";
        display: block;
        height: 72px;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.main {
    padding: 0 130px;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
